In [24]:
# Importar librería para la conexión con MySQL
# -----------------------------------------------------------------------
import mysql.connector
from mysql.connector import errorcode


# Importar librerías para manipulación y análisis de datos
# -----------------------------------------------------------------------
import pandas as pd
import numpy as np

from tqdm import tqdm

In [25]:
#Creo la BBDD:

cnx = mysql.connector.connect(user='root', password='AlumnaAdalab',
                              host='127.0.0.1')


mycursor = cnx.cursor()
try:
    mycursor.execute("CREATE DATABASE pruebas_cine")
    print(mycursor)
except mysql.connector.Error as err:
    print(err)
    print("Error Code:", err.errno)
    print("SQLSTATE", err.sqlstate)
    print("Message", err.msg)

1007 (HY000): Can't create database 'pruebas_cine'; database exists
Error Code: 1007
SQLSTATE HY000
Message Can't create database 'pruebas_cine'; database exists

In [26]:
# Creo la tabla para las películas

cnx = mysql.connector.connect(
    user='root', password='AlumnaAdalab',
    host='127.0.0.1', database='pruebas_cine'
)

mycursor = cnx.cursor()


crear_tabla = """
CREATE TABLE IF NOT EXISTS peliculas3 (
    Genero VARCHAR(255),
    Tipo VARCHAR(255),
    Titulo VARCHAR(255),
    Anio_de_estreno INT,
    Mes_de_estreno FLOAT,
    ID VARCHAR(255)
)
"""

# Ejecuta la instrucción SQL para crear la tabla
try:
    mycursor.execute(crear_tabla)
    print("Tabla creada correctamente.")
except mysql.connector.Error as err:
    print("Error al crear la tabla:", err)

# Cierra el cursor y la conexión a la base de datos
mycursor.close()
cnx.close()

Tabla creada correctamente.

In [27]:
# Insertar información de las películas

cnx = mysql.connector.connect(
    user='root', password='AlumnaAdalab',
    host='127.0.0.1', database='pruebas_cine'
)

mycursor = cnx.cursor()

# Lee el archivo CSV
df = pd.read_csv("pelis_ordenadas.csv")
df.drop(df.columns[0], axis=1, inplace=True) #elimina la primera columna

# Define el rango de filas sobre el cual iterar
inicio = 0  
fin = 10   

# Itera sobre el rango de filas especificado del DataFrame
for index in tqdm(range(inicio, fin), desc="Insertando registros"):
    row = df.iloc[index]  # Obtén la fila en el índice actual
    sql = "INSERT INTO peliculas3 (Genero, Tipo, Titulo, Anio_de_estreno, Mes_de_estreno, ID) VALUES (%s, %s, %s, %s, %s, %s)"
    # Convierte el año de estreno y el mes a tipo int
    año_de_estreno = int(row['Año de estreno']) if not pd.isnull(row['Año de estreno']) else None
    mes_de_estreno = float(row['Mes de estreno']) if not pd.isnull(row['Mes de estreno']) else None
    val = (row['Genero'], row['Tipo'], row['Titulo'], año_de_estreno, mes_de_estreno, row['ID'])
    try:
        mycursor.execute(sql, val)
        cnx.commit()  # Confirma la transacción
    except mysql.connector.Error as err:
        cnx.rollback()  # Revierte la transacción si hay un error
        print("Error al insertar registro:", err)

# Cierra el cursor y la conexión a la base de datos
mycursor.close()
cnx.close()

Insertando registros: 100%|██████████| 10/10 [00:00<00:00, 347.69it/s]

In [30]:
# Creo la tabla para IMDB

cnx = mysql.connector.connect(
    user='root', password='AlumnaAdalab',
    host='127.0.0.1', database='pruebas_cine'
)

mycursor = cnx.cursor()


crear_tabla = """
CREATE TABLE IF NOT EXISTS info_imdb2 (
    Puntuacion_IMDB VARCHAR(255),
    Direccion VARCHAR(255),
    Guionistas VARCHAR(255),
    Argumento TEXT,
    Duracion VARCHAR(255),
    Nombre_pelicula VARCHAR(255)
)
"""
# Puntuacion_IMDB, Direccion, Guionistas, Argumento, Duracion, Nombre_de_la_pelicula

try:
    mycursor.execute(crear_tabla)
    print("Tabla creada correctamente.")
except mysql.connector.Error as err:
    print("Error al crear la tabla:", err)


mycursor.close()
cnx.close()

Tabla creada correctamente.

In [31]:
#Insertar información IMDB

cnx = mysql.connector.connect(
    user='root', password='AlumnaAdalab',
    host='127.0.0.1', database='pruebas_cine'
)

mycursor = cnx.cursor()


df = pd.read_csv("2007_laura_films_total.csv")
df.drop(df.columns[0], axis=1, inplace=True)


inicio = 0  
fin = 10   


for index in tqdm(range(inicio, fin), desc="Insertando registros"):
    row = df.iloc[index]  
    sql = "INSERT INTO info_imdb2 (Puntuacion_IMDB, Direccion, Guionistas, Argumento, Duracion, Nombre_pelicula) VALUES (%s, %s, %s, %s, %s, %s)"
   
    try:
        mycursor.execute(sql, (str(row['Puntuacion_IMDB']), str(row['Dirección']), str(row['Guionistas']), str(row['Argumento']), str(row['Duración']), str(row['Nombre de la película'])))
        cnx.commit()  
    except mysql.connector.Error as err:
        cnx.rollback()  
        print("Error al insertar registro:", err)


mycursor.close()
cnx.close()

Insertando registros: 100%|██████████| 10/10 [00:00<00:00, 300.21it/s]

In [35]:
# Creo la tabla actores

cnx = mysql.connector.connect(
    user='root', password='AlumnaAdalab',
    host='127.0.0.1', database='pruebas_cine'
)

mycursor = cnx.cursor()


crear_tabla = """
CREATE TABLE IF NOT EXISTS info_actores (
    Nombre VARCHAR(255),
    Nacimiento VARCHAR(255),
    Conocido VARCHAR(255),
    Que_hace TEXT,
    Premios VARCHAR(255),
    Oscar VARCHAR(255)
)
"""
# Nombre,Nacimiento,Conocido,Que hace,Premios,Oscar

try:
    mycursor.execute(crear_tabla)
    print("Tabla creada correctamente.")
except mysql.connector.Error as err:
    print("Error al crear la tabla:", err)


mycursor.close()
cnx.close()

Tabla creada correctamente.

In [37]:
#Insertar información IMDB

cnx = mysql.connector.connect(
    user='root', password='AlumnaAdalab',
    host='127.0.0.1', database='pruebas_cine'
)

mycursor = cnx.cursor()


df = pd.read_csv("df_actores_info_42826_45826.csv")
df.drop(df.columns[0], axis=1, inplace=True)

inicio = 11  
fin = 15 


for index in tqdm(range(inicio, fin)):
   
    row = df.iloc[index]
    
    sql = "INSERT INTO info_actores (Nombre, Nacimiento, Conocido, Que_hace, Premios, Oscar) VALUES (%s, %s, %s, %s, %s, %s)"
    
    try:
        mycursor.execute(sql, (str(row['Nombre']), str(row['Nacimiento']), str(row['Conocido']), str(row['Que hace']), str(row['Premios']), str(row['Oscar'])))
        cnx.commit() 
    except mysql.connector.Error as err:
        cnx.rollback()  
        print("Error al insertar registro:", err)


mycursor.close()
cnx.close()

100%|██████████| 4/4 [00:00<00:00, 442.20it/s]