In [2]:
# Importar librerías para tratamiento de datos
import pandas as pd  

# Importar librerías para web scraping y manipulación de datos
from bs4 import BeautifulSoup
import requests
import re
import random

# Importar librerías para automatización de navegadores web con Selenium
from selenium import webdriver  
from selenium.webdriver.common.by import By
from webdriver_manager.chrome import ChromeDriverManager  
from selenium.webdriver.common.keys import Keys  
from selenium.webdriver.support.ui import Select  

# Importar librerías para pausar la ejecución
from time import sleep  

# Configuraciones
pd.set_option('display.max_columns', None)  # Establece una opción de Pandas para mostrar todas las columnas de un DataFrame.

import warnings
warnings.filterwarnings('ignore')

# PELICULAS IMBD

In [3]:
# Union Peliculas IMBD
df_1 = pd.read_csv("EXTRACCION REBE/1_pelis_rebe_0_49_.csv", index_col = 0)
df_2 = pd.read_csv("EXTRACCION REBE/2_pelis_rebe_50_93_.csv", index_col = 0)
df_3 = pd.read_csv("EXTRACCION REBE/3_pelis_rebe_94_534_.csv", index_col = 0)
df_4 = pd.read_csv("EXTRACCION REBE/4_pelis_rebe_136_534_.csv", index_col = 0)
df_5 = pd.read_csv("EXTRACCION REBE/5_pelis_rebe_535_6000_.csv", index_col = 0)
df_6 = pd.read_csv("EXTRACCION REBE/6_pelis_rebe_6000_8000_.csv", index_col = 0)
df_7 = pd.read_csv("EXTRACCION REBE/7_pelis_rebe_8000_10000_.csv", index_col = 0)
df_8 = pd.read_csv("EXTRACCION REBE/8_pelis_rebe_10000_12661_.csv", index_col = 0)
df_9 = pd.read_csv("EXTRACCION REBE/9__rebe_films_total_14600_18500.csv", index_col = 0)
df_10 = pd.read_csv("EXTRACCION REBE/10_rebe_films_total_18500_21400.csv", index_col = 0)
df_11 = pd.read_csv("EXTRACCION REBE/11_rebe_films_21400_28300.csv", index_col = 0)
df_12 = pd.read_csv("EXTRACCION REBE/12_rebe_films_28300_38300.csv", index_col = 0)
df_13 = pd.read_csv("EXTRACCION REBE/13_rebe_films_38300_48300.csv", index_col = 0)

In [4]:
# Guardar pelis IMBD en unico archivo
df_peliculas_rebe = pd.concat([df_1,df_2,df_3,df_4,df_5,df_6,df_7,df_8,df_9,df_10,df_11,df_12,df_13], axis=0)
df_peliculas_rebe.to_csv("EXTRACCION REBE/total_pelis_rebe.csv")

In [5]:
df_peliculas_rebe.head()

,Puntuacion_IMDB,Dirección,Guionistas,Argumento,Duración,Nombre de la película
0,--,['Marcos Manhães Marins'],['Marcos Manhães Marins'],NaN,15min,Chateaubriand - Cabeça de Paraíba
1,"6,3",['Patricia Ferreira'],DESCONOCIDO,"Paloma is a young psychiatrist, who is hired t...",1h 40min,Sé quién eres
2,"5,1",['Marie-Christine Questerbert'],['Marie-Christine Questerbert'],"In the fourteenth century, the young Aliénor m...",1h 47min,La chambre obscure
3,"7,2",['Ann Hu'],DESCONOCIDO,"Beijing, 1902: an enterprising young portrait ...",1h 56min,Xi yang jing
4,"8,3",['Will Wallace'],"['Jerry Sticker', 'Will Wallace']",NaN,1h 30min,A Christmas Tree and a Wedding

# Puntuacion Rotten Tomatoes

In [6]:
# Union puntuacion ROTTEN TOMATOES
tomatoes_1 = pd.read_csv("EXTRACCION REBE/rotten/0_200_puntuacion_tomates_rebe.csv")
tomatoes_2 = pd.read_csv("EXTRACCION REBE/rotten/201_1000_puntuacion_tomates_rebe.csv")
tomatoes_3 = pd.read_csv("EXTRACCION REBE/rotten/1001_4000_puntuacion_tomates_rebe.csv")
tomatoes_4 = pd.read_csv("EXTRACCION REBE/rotten/4001_10000_puntuacion_tomates_rebe.csv")
tomatoes_5 = pd.read_csv("EXTRACCION REBE/rotten/10001_20000_puntuacion_tomates_rebe.csv")
tomatoes_6 = pd.read_csv("EXTRACCION REBE/rotten/20001_30000_puntuacion_tomates_rebe.csv")
tomatoes_7 = pd.read_csv("EXTRACCION REBE/rotten/30001_48300_puntuacion_tomates_rebe.csv")

df_tomatoes_rebe = pd.concat([tomatoes_1,tomatoes_2,tomatoes_3,tomatoes_4,tomatoes_5,tomatoes_6,tomatoes_7], axis=0)
df_tomatoes_rebe.to_csv("EXTRACCION REBE/total_tomatoes_rebe.csv")

# Actores

In [9]:
#Union actores

df_actor_1 = pd.read_csv("EXTRACCION REBE/actores/2_rebe_actors_total.csv", index_col = 0)
df_actor_2 = pd.read_csv("EXTRACCION REBE/actores/3_rebe_actors_total.csv", index_col = 0)
df_actor_3 = pd.read_csv("EXTRACCION REBE/actores/4_rebe_actors_total.csv", index_col = 0)
df_actor_4 = pd.read_csv("EXTRACCION REBE/actores/5_rebe_actors_total.csv", index_col = 0)
df_actor_5 = pd.read_csv("EXTRACCION REBE/actores/6_rebe_actors_total.csv", index_col = 0)
df_actor_6 = pd.read_csv("EXTRACCION REBE/actores/actores_rebe_0_50.csv", index_col = 0)
df_actor_7 = pd.read_csv("EXTRACCION REBE/actores/actores_rebe_50_93.csv", index_col = 0)
df_actor_8 = pd.read_csv("EXTRACCION REBE/actores/actores_rebe_94_136.csv", index_col = 0)
df_actor_9 = pd.read_csv("EXTRACCION REBE/actores/actores_rebe_136_398.csv", index_col = 0)
df_actor_10 = pd.read_csv("EXTRACCION REBE/actores/actores_rebe_535_6000.csv", index_col = 0)
df_actor_11 = pd.read_csv("EXTRACCION REBE/actores/actores_rebe_6000_8000.csv", index_col = 0)
df_actor_12 = pd.read_csv("EXTRACCION REBE/actores/actores_rebe_8000_10000.csv", index_col = 0)
df_actor_12 = pd.read_csv("EXTRACCION REBE/actores/actores_rebe_10000_12661.csv", index_col = 0)
df_actor_13 = pd.read_csv("EXTRACCION REBE/actores/rebe_actors_21400_28300.csv", index_col = 0)

df_actores_rebe = pd.concat([df_actor_1,df_actor_2,df_actor_3,df_actor_4,df_actor_5,df_actor_6,df_actor_7,df_actor_8,df_actor_9,df_actor_10,df_actor_11,df_actor_12,df_actor_13], axis=0)
df_actores_rebe.to_csv("EXTRACCION REBE/total_actores_rebe.csv")

In [12]:
# Union actores 
info_actores1 = pd.read_csv("EXTRACCION REBE/df_actores_info_0_1825.csv", index_col = 0)
info_actores2 = pd.read_csv("EXTRACCION REBE/df_actores_info_1825_5492.csv", index_col = 0)
info_actores3 = pd.read_csv("EXTRACCION REBE/df_actores_info_5493_6000.csv", index_col = 0)
info_actores4 = pd.read_csv("EXTRACCION REBE/df_actores_info_6001_7000.csv", index_col = 0)


actores_info = pd.concat([info_actores1,info_actores2,info_actores3,info_actores4], axis=0)
actores_info.to_csv("EXTRACCION REBE/INFO_ACTORES.csv")

In [15]:
actores_rebe = pd.read_csv("EXTRACCION REBE/INFO_ACTORES.csv", index_col = 0)
actores_laura = pd.read_csv("EXTRACCION LAURA/INFO_ACTORES.csv", index_col = 0)
actores_fedra = pd.read_csv("EXTRACCION FEDRA/df_actores_info_125478_130478.csv", index_col = 0)
actores_patri = pd.read_csv("EXTRACCIÓN PATRI/total_actores_PATRI.csv", index_col = 0)

total_actores = pd.concat([actores_rebe,actores_laura,actores_fedra,actores_patri])

total_actores

,Nombre,Nacimiento,Conocido,Que hace,Premios,Oscar
0,Joanna Cole,Desconocido,"['NY-LON', 'Cartilage']",['Actress'],Desconocido,--
1,Stanley Wojculewski,Desconocido,['Cartilage'],['Actor'],Desconocido,--
2,Melanie Stablein,Desconocido,['Mona and Pablo'],['Actress'],Desconocido,--
3,Max Baloian,Desconocido,"['The Darwin Awards', 'Not Today', 'One Way to...","['Camera and Electrical Department', 'Art Depa...",Desconocido,--
4,Keith Davies,Desconocido,['Mona and Pablo'],['Actor'],Desconocido,--
...,...,...,...,...,...,...
14995,Silvia V. Lorenzo,Desconocido,"['A Entrevista', 'Infiesto', 'Foam Party!', 'F...","['Actress', 'Writer']",1 win & 2 nominations,--
14996,Emma Salgado,Desconocido,['Fracturas'],['Actor'],Desconocido,--
14997,Mayte Silva,Desconocido,['Fracturas'],['Actor'],Desconocido,--
14998,María Tasende,1977,"['Illa Pedra', 'La Unidad', 'Matalobos', 'O Fa...",['Actress'],1 win,--
14999,Fernando Tato,1977,"['A Entrevista', 'Fracturas', 'Te quiero demas...","['Actor', 'Director', 'Writer']",1 win & 3 nominations,--

In [36]:
df_actores_unicos = total_actores.drop_duplicates(subset="Nombre")
df_actores_unicos 

df_actores_unicos.to_csv("union_actores_unicos.csv")

In [37]:
df_actores_unicos

,Nombre,Nacimiento,Conocido,Que hace,Premios,Oscar
0,Joanna Cole,Desconocido,"['NY-LON', 'Cartilage']",['Actress'],Desconocido,--
1,Stanley Wojculewski,Desconocido,['Cartilage'],['Actor'],Desconocido,--
2,Melanie Stablein,Desconocido,['Mona and Pablo'],['Actress'],Desconocido,--
3,Max Baloian,Desconocido,"['The Darwin Awards', 'Not Today', 'One Way to...","['Camera and Electrical Department', 'Art Depa...",Desconocido,--
4,Keith Davies,Desconocido,['Mona and Pablo'],['Actor'],Desconocido,--
...,...,...,...,...,...,...
14995,Silvia V. Lorenzo,Desconocido,"['A Entrevista', 'Infiesto', 'Foam Party!', 'F...","['Actress', 'Writer']",1 win & 2 nominations,--
14996,Emma Salgado,Desconocido,['Fracturas'],['Actor'],Desconocido,--
14997,Mayte Silva,Desconocido,['Fracturas'],['Actor'],Desconocido,--
14998,María Tasende,1977,"['Illa Pedra', 'La Unidad', 'Matalobos', 'O Fa...",['Actress'],1 win,--
14999,Fernando Tato,1977,"['A Entrevista', 'Fracturas', 'Te quiero demas...","['Actor', 'Director', 'Writer']",1 win & 3 nominations,--

# Union IMDB y Rotten

In [29]:
union_puntuacion = df_peliculas_rebe.join(df_tomatoes_rebe.set_index("titulo"), on="Nombre de la película",how="left")
union_puntuacion.to_csv("EXTRACCIÓN PATRI/completo_patri_pelis.csv")

In [ ]:
union_puntuacion

,Puntuacion_IMDB,Dirección,Guionistas,Argumento,Duración,Nombre de la película,puntuacion
0,--,['Marcos Manhães Marins'],['Marcos Manhães Marins'],NaN,15min,Chateaubriand - Cabeça de Paraíba,No existe puntuacion
1,"6,3",['Patricia Ferreira'],DESCONOCIDO,"Paloma is a young psychiatrist, who is hired t...",1h 40min,Sé quién eres,No existe puntuacion
2,"5,1",['Marie-Christine Questerbert'],['Marie-Christine Questerbert'],"In the fourteenth century, the young Aliénor m...",1h 47min,La chambre obscure,No existe puntuacion
3,"7,2",['Ann Hu'],DESCONOCIDO,"Beijing, 1902: an enterprising young portrait ...",1h 56min,Xi yang jing,NaN
4,"8,3",['Will Wallace'],"['Jerry Sticker', 'Will Wallace']",NaN,1h 30min,A Christmas Tree and a Wedding,No existe puntuacion
...,...,...,...,...,...,...,...
9996,--,['Melanie Coffey'],['Melanie Coffey'],"When the world gets to be too much for Ren, sh...",--,Forever Ago,NaN
9997,--,['Richard Powers'],"['Gabriel Acosta', 'Kaitlyn Franck', 'Richard ...",NaN,--,Circle,NaN
9998,--,['James Weicker'],['Ann Marie Hak'],When Graham takes his new step-son Emil on a c...,--,Wishing Fall,NaN
9999,--,['Dashiell Jones'],['Dashiell Jones'],NaN,--,Forever,No existe puntuacion
9999,--,['Dashiell Jones'],['Dashiell Jones'],NaN,--,Forever,No existe puntuacion

In [31]:
pelis_rebe = pd.read_csv("EXTRACCION REBE/completo_rebe_pelis.csv", index_col = 0)
pelis_laura = pd.read_csv("EXTRACCION LAURA/completo_laura_pelis.csv", index_col = 0)
pelis_fedra = pd.read_csv("EXTRACCION FEDRA/ROTTENTOMATOE/completo_fedra_pelis.csv", index_col = 0)
pelis_patri = pd.read_csv("EXTRACCIÓN PATRI/completo_patri_pelis.csv", index_col = 0)

In [40]:
total_pelis = pd.concat([pelis_rebe,pelis_laura,pelis_fedra,pelis_patri])
total_pelis.to_csv("INFO_PELIS.csv")

In [39]:
total_pelis

,Puntuacion_IMDB,Dirección,Guionistas,Argumento,Duración,Nombre de la película,puntuacion
0,--,['Marcos Manhães Marins'],['Marcos Manhães Marins'],NaN,15min,Chateaubriand - Cabeça de Paraíba,No existe puntuacion
1,"6,3",['Patricia Ferreira'],DESCONOCIDO,"Paloma is a young psychiatrist, who is hired t...",1h 40min,Sé quién eres,No existe puntuacion
2,"5,1",['Marie-Christine Questerbert'],['Marie-Christine Questerbert'],"In the fourteenth century, the young Aliénor m...",1h 47min,La chambre obscure,No existe puntuacion
3,"7,2",['Ann Hu'],DESCONOCIDO,"Beijing, 1902: an enterprising young portrait ...",1h 56min,Xi yang jing,NaN
4,"8,3",['Will Wallace'],"['Jerry Sticker', 'Will Wallace']",NaN,1h 30min,A Christmas Tree and a Wedding,No existe puntuacion
...,...,...,...,...,...,...,...
9996,--,['Melanie Coffey'],['Melanie Coffey'],"When the world gets to be too much for Ren, sh...",--,Forever Ago,NaN
9997,--,['Richard Powers'],"['Gabriel Acosta', 'Kaitlyn Franck', 'Richard ...",NaN,--,Circle,NaN
9998,--,['James Weicker'],['Ann Marie Hak'],When Graham takes his new step-son Emil on a c...,--,Wishing Fall,NaN
9999,--,['Dashiell Jones'],['Dashiell Jones'],NaN,--,Forever,No existe puntuacion
9999,--,['Dashiell Jones'],['Dashiell Jones'],NaN,--,Forever,No existe puntuacion

# Union IMDB y Rotten con datos de la API

In [41]:
pelis_api= pd.read_csv("pelis_ordenadas.csv", index_col = 0)
pelis_imbd = pd.read_csv("EXTRACCION REBE/completo_rebe_pelis.csv", index_col = 0)

In [42]:
pelis_api.tail()

,Genero,Tipo,Titulo,Año de estreno,Mes de estreno,ID
6306,Drama,Short,Simon x Lucy Single Scene Short (Sx3) VVV (Par...,2023,5.0,tt29793270
6305,Drama,Short,Melanie x Diya 1 Single Scene Shorts (Sx3) VVV...,2023,3.0,tt29792944
6304,Drama,Short,Desgosto de morrer no Inverno,2023,NaN,tt29792241
6320,Drama,Short,Divebomb,2023,4.0,tt29808719
4348,Drama,Short,Rebus,2023,8.0,tt28641438

In [43]:
pelis_imbd.tail()

,Puntuacion_IMDB,Dirección,Guionistas,Argumento,Duración,Nombre de la película,puntuacion
9996,--,['Melanie Coffey'],['Melanie Coffey'],"When the world gets to be too much for Ren, sh...",--,Forever Ago,NaN
9997,--,['Richard Powers'],"['Gabriel Acosta', 'Kaitlyn Franck', 'Richard ...",NaN,--,Circle,NaN
9998,--,['James Weicker'],['Ann Marie Hak'],When Graham takes his new step-son Emil on a c...,--,Wishing Fall,NaN
9999,--,['Dashiell Jones'],['Dashiell Jones'],NaN,--,Forever,No existe puntuacion
9999,--,['Dashiell Jones'],['Dashiell Jones'],NaN,--,Forever,No existe puntuacion

In [44]:
dt_api = pd.DataFrame(pelis_api)
dt_imbd = pd.DataFrame(pelis_imbd)

In [45]:
union_IMBD_API = pd.merge(pelis_api, pelis_imbd, left_on="Titulo", right_on="Nombre de la película", how="left")

In [47]:
union_IMBD_API.drop(["Genero", "Tipo", "Nombre de la película", "Mes de estreno","Año de estreno"], axis=1, inplace=True)

In [49]:
union_IMBD_API.head()

,Titulo,ID,Puntuacion_IMDB,Dirección,Guionistas,Argumento,Duración,puntuacion
0,Chateaubriand - Cabeça de Paraíba,tt0115874,--,['Marcos Manhães Marins'],['Marcos Manhães Marins'],NaN,15min,No existe puntuacion
1,Bad boy dak gung,tt0284878,"4,8",['Wai-Man Yip'],['Manfred Wong'],Badboy is a HK detective agency. They speciali...,1h 45min,No existe puntuacion
2,Bad boy dak gung,tt0284878,"4,8",['Wai-Man Yip'],['Manfred Wong'],Badboy is a HK detective agency. They speciali...,1h 45min,No existe puntuacion
3,Bad boy dak gung,tt0284878,"4,8",['Wai-Man Yip'],['Manfred Wong'],Badboy is a HK detective agency. They speciali...,1h 45min,No existe puntuacion
4,Bad boy dak gung,tt0284878,"4,8",['Wai-Man Yip'],['Manfred Wong'],Badboy is a HK detective agency. They speciali...,1h 45min,No existe puntuacion