In [28]:
# Importar librerías para tratamiento de datos
import pandas as pd  

# Importar librerías para web scraping y manipulación de datos
from bs4 import BeautifulSoup
import requests
import re
import random

# Importar librerías para automatización de navegadores web con Selenium
from selenium import webdriver  
from selenium.webdriver.common.by import By
from webdriver_manager.chrome import ChromeDriverManager  
from selenium.webdriver.common.keys import Keys  
from selenium.webdriver.support.ui import Select  

# Importar librerías para pausar la ejecución
from time import sleep  

# Configuraciones
pd.set_option('display.max_columns', None)  # Establece una opción de Pandas para mostrar todas las columnas de un DataFrame.

import warnings
warnings.filterwarnings('ignore')

# PELICULAS IMBD

In [29]:
# Union Peliculas IMBD
df_1 = pd.read_csv("EXTRACCION REBE/1_pelis_rebe_0_49_.csv", index_col = 0)
df_2 = pd.read_csv("EXTRACCION REBE/2_pelis_rebe_50_93_.csv", index_col = 0)
df_3 = pd.read_csv("EXTRACCION REBE/3_pelis_rebe_94_534_.csv", index_col = 0)
df_4 = pd.read_csv("EXTRACCION REBE/4_pelis_rebe_136_534_.csv", index_col = 0)
df_5 = pd.read_csv("EXTRACCION REBE/5_pelis_rebe_535_6000_.csv", index_col = 0)
df_6 = pd.read_csv("EXTRACCION REBE/6_pelis_rebe_6000_8000_.csv", index_col = 0)
df_7 = pd.read_csv("EXTRACCION REBE/7_pelis_rebe_8000_10000_.csv", index_col = 0)
df_8 = pd.read_csv("EXTRACCION REBE/8_pelis_rebe_10000_12661_.csv", index_col = 0)
df_9 = pd.read_csv("EXTRACCION REBE/9__rebe_films_total_14600_18500.csv", index_col = 0)
df_10 = pd.read_csv("EXTRACCION REBE/10_rebe_films_total_18500_21400.csv", index_col = 0)
df_11 = pd.read_csv("EXTRACCION REBE/11_rebe_films_21400_28300.csv", index_col = 0)
df_12 = pd.read_csv("EXTRACCION REBE/12_rebe_films_28300_38300.csv", index_col = 0)
df_13 = pd.read_csv("EXTRACCION REBE/13_rebe_films_38300_48300.csv", index_col = 0)

In [30]:
# Guardar pelis IMBD en unico archivo
df_peliculas_rebe = pd.concat([df_1,df_2,df_3,df_4,df_5,df_6,df_7,df_8,df_9,df_10,df_11,df_12,df_13], axis=0)
df_peliculas_rebe.to_csv("EXTRACCION REBE/total_pelis_rebe.csv")

In [31]:
df_peliculas_rebe.head()

,Puntuacion_IMDB,Dirección,Guionistas,Argumento,Duración,Nombre de la película
0,--,['Marcos Manhães Marins'],['Marcos Manhães Marins'],NaN,15min,Chateaubriand - Cabeça de Paraíba
1,"6,3",['Patricia Ferreira'],DESCONOCIDO,"Paloma is a young psychiatrist, who is hired t...",1h 40min,Sé quién eres
2,"5,1",['Marie-Christine Questerbert'],['Marie-Christine Questerbert'],"In the fourteenth century, the young Aliénor m...",1h 47min,La chambre obscure
3,"7,2",['Ann Hu'],DESCONOCIDO,"Beijing, 1902: an enterprising young portrait ...",1h 56min,Xi yang jing
4,"8,3",['Will Wallace'],"['Jerry Sticker', 'Will Wallace']",NaN,1h 30min,A Christmas Tree and a Wedding

# Puntuacion Rotten Tomatoes

In [32]:
# Union puntuacion ROTTEN TOMATOES
tomatoes_1 = pd.read_csv("EXTRACCION REBE/rotten/0_200_puntuacion_tomates_rebe.csv")
tomatoes_2 = pd.read_csv("EXTRACCION REBE/rotten/201_1000_puntuacion_tomates_rebe.csv")
tomatoes_3 = pd.read_csv("EXTRACCION REBE/rotten/1001_4000_puntuacion_tomates_rebe.csv")
tomatoes_4 = pd.read_csv("EXTRACCION REBE/rotten/4001_10000_puntuacion_tomates_rebe.csv")
tomatoes_5 = pd.read_csv("EXTRACCION REBE/rotten/10001_20000_puntuacion_tomates_rebe.csv")
tomatoes_6 = pd.read_csv("EXTRACCION REBE/rotten/20001_30000_puntuacion_tomates_rebe.csv")
tomatoes_7 = pd.read_csv("EXTRACCION REBE/rotten/30001_48300_puntuacion_tomates_rebe.csv")

df_tomatoes_rebe = pd.concat([tomatoes_1,tomatoes_2,tomatoes_3,tomatoes_4,tomatoes_5,tomatoes_6,tomatoes_7], axis=0)
df_tomatoes_rebe.to_csv("EXTRACCION REBE/total_tomatoes_rebe.csv")

In [33]:
df_tomatoes_rebe.head()

                              titulo            puntuacion
0  Chateaubriand - Cabeça de Paraíba  No existe puntuacion
1                   Bad boy dak gung  No existe puntuacion
2           Dead or Alive 2: Tôbôsha                  100%
3               Something Between Us  No existe puntuacion
4                     Fughe da fermo  No existe puntuacion

# Actores

In [34]:
#Union actores

df_actor_1 = pd.read_csv("EXTRACCION REBE/actores/2_rebe_actors_total.csv", index_col = 0)
df_actor_2 = pd.read_csv("EXTRACCION REBE/actores/3_rebe_actors_total.csv", index_col = 0)
df_actor_3 = pd.read_csv("EXTRACCION REBE/actores/4_rebe_actors_total.csv", index_col = 0)
df_actor_4 = pd.read_csv("EXTRACCION REBE/actores/5_rebe_actors_total.csv", index_col = 0)
df_actor_5 = pd.read_csv("EXTRACCION REBE/actores/6_rebe_actors_total.csv", index_col = 0)
df_actor_6 = pd.read_csv("EXTRACCION REBE/actores/actores_rebe_0_50.csv", index_col = 0)
df_actor_7 = pd.read_csv("EXTRACCION REBE/actores/actores_rebe_50_93.csv", index_col = 0)
df_actor_8 = pd.read_csv("EXTRACCION REBE/actores/actores_rebe_94_136.csv", index_col = 0)
df_actor_9 = pd.read_csv("EXTRACCION REBE/actores/actores_rebe_136_398.csv", index_col = 0)
df_actor_10 = pd.read_csv("EXTRACCION REBE/actores/actores_rebe_535_6000.csv", index_col = 0)
df_actor_11 = pd.read_csv("EXTRACCION REBE/actores/actores_rebe_6000_8000.csv", index_col = 0)
df_actor_12 = pd.read_csv("EXTRACCION REBE/actores/actores_rebe_8000_10000.csv", index_col = 0)
df_actor_12 = pd.read_csv("EXTRACCION REBE/actores/actores_rebe_10000_12661.csv", index_col = 0)
df_actor_13 = pd.read_csv("EXTRACCION REBE/actores/rebe_actors_21400_28300.csv", index_col = 0)

df_actores_rebe = pd.concat([df_actor_1,df_actor_2,df_actor_3,df_actor_4,df_actor_5,df_actor_6,df_actor_7,df_actor_8,df_actor_9,df_actor_10,df_actor_11,df_actor_12,df_actor_13], axis=0)
df_actores_rebe.to_csv("EXTRACCION REBE/total_actores_rebe.csv")

In [57]:
actores_rebe = pd.read_csv("EXTRACCION REBE/total_actores_rebe.csv", index_col = 0)
actores_laura = pd.read_csv("EXTRACCION LAURA/laura_actores_total.csv", index_col = 0)

total_actores = pd.concat([actores_rebe,actores_laura])

total_actores

                     name                                               link
0             Joanna Cole  ('Joanna Cole', 'https://www.imdb.com/name/nm2...
1     Stanley Wojculewski  ('Stanley Wojculewski', 'https://www.imdb.com/...
2        Melanie Stablein  ('Melanie Stablein', 'https://www.imdb.com/nam...
3             Max Baloian  ('Max Baloian', 'https://www.imdb.com/name/nm0...
4            Keith Davies  ('Keith Davies', 'https://www.imdb.com/name/nm...
...                   ...                                                ...
7208          Mickey Koga  ('Mickey Koga', 'https://www.imdb.com/name/nm1...
7209        Makoto Kurami  ('Makoto Kurami', 'https://www.imdb.com/name/n...
7210         Hiroshi Miki  ('Hiroshi Miki', 'https://www.imdb.com/name/nm...
7211          Ken Musashi  ('Ken Musashi', 'https://www.imdb.com/name/nm2...
7212        Minoru Suzuki  ('Minoru Suzuki', 'https://www.imdb.com/name/n...

[299651 rows x 2 columns]

In [58]:
df_actores_unicos = total_actores.drop_duplicates(subset="name")
df_actores_unicos 

df_actores_unicos.to_csv("union_actores_unicos.csv")

# Union IMDB y Rotten

In [27]:
union_puntuacion = df_peliculas_rebe.join(df_tomatoes_rebe.set_index("titulo"), on="Nombre de la película",how="left")
union_puntuacion.to_csv("EXTRACCION REBE/completo_rebe_pelis.csv")

In [28]:
union_puntuacion

,Puntuacion_IMDB,Dirección,Guionistas,Argumento,Duración,Nombre de la película,puntuacion
0,--,['Marcos Manhães Marins'],['Marcos Manhães Marins'],NaN,15min,Chateaubriand - Cabeça de Paraíba,No existe puntuacion
1,"6,3",['Patricia Ferreira'],DESCONOCIDO,"Paloma is a young psychiatrist, who is hired t...",1h 40min,Sé quién eres,No existe puntuacion
2,"5,1",['Marie-Christine Questerbert'],['Marie-Christine Questerbert'],"In the fourteenth century, the young Aliénor m...",1h 47min,La chambre obscure,No existe puntuacion
3,"7,2",['Ann Hu'],DESCONOCIDO,"Beijing, 1902: an enterprising young portrait ...",1h 56min,Xi yang jing,NaN
4,"8,3",['Will Wallace'],"['Jerry Sticker', 'Will Wallace']",NaN,1h 30min,A Christmas Tree and a Wedding,No existe puntuacion
...,...,...,...,...,...,...,...
9996,--,['Melanie Coffey'],['Melanie Coffey'],"When the world gets to be too much for Ren, sh...",--,Forever Ago,NaN
9997,--,['Richard Powers'],"['Gabriel Acosta', 'Kaitlyn Franck', 'Richard ...",NaN,--,Circle,NaN
9998,--,['James Weicker'],['Ann Marie Hak'],When Graham takes his new step-son Emil on a c...,--,Wishing Fall,NaN
9999,--,['Dashiell Jones'],['Dashiell Jones'],NaN,--,Forever,No existe puntuacion
9999,--,['Dashiell Jones'],['Dashiell Jones'],NaN,--,Forever,No existe puntuacion