In [2]:
import pandas as pd

C:\Users\femes\AppData\Local\Temp\ipykernel_13816\217833862.py:1: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [3]:
df_1 = pd.read_csv("incremental/fedra_actors_2014_ACCION_9014_10000.csv", index_col = 0)
df_2 = pd.read_csv("incremental/fedra_actors_2014_COMEDY_6019_6500.csv", index_col = 0)
df_3 = pd.read_csv("incremental/fedra_actors_2014_COMEDY_6500_6900.csv", index_col = 0)
df_4 = pd.read_csv("incremental/fedra_actors_2014_DRAMA_1_1000.csv", index_col = 0)
df_5 = pd.read_csv("incremental/fedra_actors_2015_ACCION_19309_20300.csv", index_col = 0)
df_6 = pd.read_csv("incremental/fedra_actors_2015_COMEDY_16379_17300.csv", index_col = 0)
df_7 = pd.read_csv("incremental/fedra_actors_2015_DRAMA_10188_11100.csv", index_col = 0)
df_8 = pd.read_csv("incremental/fedra_actors_2016_ACCION_29904_30900.csv", index_col = 0)
df_9 = pd.read_csv("incremental/fedra_actors_2016_COMEDY_26858_27700.csv", index_col = 0)
df_10 = pd.read_csv("incremental/fedra_actors_2016_DRAMA_20506_22500.csv", index_col = 0)
df_11 = pd.read_csv("incremental/fedra_actors_2017_ACCION_ 40757_41700.csv", index_col = 0)
df_12 = pd.read_csv("incremental/fedra_actors_2017_COMEDY_37686_38600.csv", index_col = 0)
df_13 = pd.read_csv("incremental/fedra_actors_2017_DRAMA_31252_32600.csv", index_col = 0)
df_14 = pd.read_csv("incremental/fedra_actors_2018_ACCION_51868_52800.csv", index_col = 0)
df_15 = pd.read_csv("incremental/fedra_actors_2018_COMEDY_48725_49100.csv", index_col = 0)
df_16 = pd.read_csv("incremental/fedra_actors_2018_COMEDY_49100_49700.csv", index_col = 0)
df_17 = pd.read_csv("incremental/fedra_actors_2018_DRAMA_42169_42600.csv", index_col = 0)
df_18 = pd.read_csv("incremental/fedra_actors_2018_DRAMA_42601_43600.csv", index_col = 0)
df_19 = pd.read_csv("incremental/fedra_actors_2019_ACCION_62488_63400.csv", index_col = 0)
df_20 = pd.read_csv("incremental/fedra_actors_2019_COMEDY_59584_61200.csv", index_col = 0)
df_21 = pd.read_csv("incremental/fedra_actors_2019_DRAMA_53217_53500.csv", index_col = 0)
df_22 = pd.read_csv("incremental/fedra_actors_2019_DRAMA_53500_54200.csv", index_col = 0)
df_23 = pd.read_csv("incremental/fedra_actors_2020_ACCION_71203_72200.csv", index_col = 0)
df_24 = pd.read_csv("incremental/fedra_actors_2020_COMEDY_68933_69900.csv", index_col = 0)
df_25 = pd.read_csv("incremental/fedra_actors_2020_DRAMA_63834_64200.csv", index_col = 0)
df_26 = pd.read_csv("incremental/fedra_actors_2020_DRAMA_64200_64800.csv", index_col = 0)

In [4]:
df_actores = pd.concat([df_1,df_2,df_3,df_4,df_5,df_6,df_7,df_8,df_9,df_10,df_11,df_12,df_13,df_14,df_15,df_16,df_17,df_18,df_19,df_20,df_21,df_22,df_23,df_24,df_25,df_26], axis=0)

In [5]:
len(df_actores)

172637

In [6]:
df_actores.tail()

                    name                                               link
4488  Merlisa Determined  ('Merlisa Determined', 'https://www.imdb.com/n...
4489          Uche Jombo  ('Uche Jombo', 'https://www.imdb.com/name/nm22...
4490         DJ Kelblizz  ('DJ Kelblizz', 'https://www.imdb.com/name/nm1...
4491         John Maciag  ('John Maciag', 'https://www.imdb.com/name/nm6...
4492     Magdalen Vaughn  ('Magdalen Vaughn', 'https://www.imdb.com/name...

In [7]:
df_actores.reset_index()

,index,name,link
0,0,Sam Spruell,"('Sam Spruell', 'https://www.imdb.com/name/nm0..."
1,1,Sean Bean,"('Sean Bean', 'https://www.imdb.com/name/nm000..."
2,2,James D'Arcy,"(""James D'Arcy"", 'https://www.imdb.com/name/nm..."
3,3,Charles Dance,"('Charles Dance', 'https://www.imdb.com/name/n..."
4,4,Rupert Grint,"('Rupert Grint', 'https://www.imdb.com/name/nm..."
...,...,...,...
172632,4488,Merlisa Determined,"('Merlisa Determined', 'https://www.imdb.com/n..."
172633,4489,Uche Jombo,"('Uche Jombo', 'https://www.imdb.com/name/nm22..."
172634,4490,DJ Kelblizz,"('DJ Kelblizz', 'https://www.imdb.com/name/nm1..."
172635,4491,John Maciag,"('John Maciag', 'https://www.imdb.com/name/nm6..."
172636,4492,Magdalen Vaughn,"('Magdalen Vaughn', 'https://www.imdb.com/name..."

In [8]:
df_actores.to_csv("extraccion_total_actores_2014_2020.csv")

    UNION DE EXTRACCION PELICULAS

In [9]:
df_1 = pd.read_csv("incremental/fedra_films_2014_ACCION_9014_10000.csv", index_col = 0)
df_2 = pd.read_csv("incremental/fedra_films_2014_COMEDY_6019_6500.csv", index_col = 0)
df_3 = pd.read_csv("incremental/fedra_films_2014_COMEDY_6500_6900.csv", index_col = 0)
df_4 = pd.read_csv("incremental/fedra_films_2014_DRAMA_1_1000.csv", index_col = 0)
df_5 = pd.read_csv("incremental/fedra_films_2015_ACCION_19309_20300.csv", index_col = 0)
df_6 = pd.read_csv("incremental/fedra_films_2015_COMEDY_16379_17300.csv", index_col = 0)
df_7 = pd.read_csv("incremental/fedra_films_2015_DRAMA_10188_11100.csv", index_col = 0)
df_8 = pd.read_csv("incremental/fedra_films_2016_ACCION_29904_30900.csv", index_col = 0)
df_9 = pd.read_csv("incremental/fedra_films_2016_COMEDY_26858_27700.csv", index_col = 0)
df_10 = pd.read_csv("incremental/fedra_films_2016_DRAMA_20506_22500.csv", index_col = 0)
df_11 = pd.read_csv("incremental/fedra_films_2017_ACCION_40757_41700.csv", index_col = 0)
df_12 = pd.read_csv("incremental/fedra_films_2017_COMEDY_37686_38600.csv", index_col = 0)
df_13 = pd.read_csv("incremental/fedra_films_2017_DRAMA_31252_32600.csv", index_col = 0)
df_14 = pd.read_csv("incremental/fedra_films_2018_ACCION_51868_52800.csv", index_col = 0)
df_15 = pd.read_csv("incremental/fedra_films_2018_COMEDY_48725_49100.csv", index_col = 0)
df_16 = pd.read_csv("incremental/fedra_films_2018_COMEDY_49100_49700.csv", index_col = 0)
df_17 = pd.read_csv("incremental/fedra_films_2018_DRAMA_42169_42600.csv", index_col = 0)
df_18 = pd.read_csv("incremental/fedra_films_2018_DRAMA42601_43600.csv", index_col = 0)
df_19 = pd.read_csv("incremental/fedra_films_2019_ACCION_62488_63400.csv", index_col = 0)
df_20 = pd.read_csv("incremental/fedra_films_2019_COMEDY_59584_61200.csv", index_col = 0)
df_21 = pd.read_csv("incremental/fedra_films_2019_DRAMA_53217_53500.csv", index_col = 0)
df_22 = pd.read_csv("incremental/fedra_films_2019_DRAMA_53500_54200.csv", index_col = 0)
df_23 = pd.read_csv("incremental/fedra_films_2020_ACCION71203_72200.csv", index_col = 0)
df_24 = pd.read_csv("incremental/fedra_films_2020_COMEDY_68933_69900.csv", index_col = 0)
df_25 = pd.read_csv("incremental/fedra_films_2020_DRAMA_63834_64200.csv", index_col = 0)
df_26 = pd.read_csv("incremental/fedra_films_2020_DRAMA_64200_64800.csv", index_col = 0)

In [10]:
df_films = pd.concat([df_1,df_2,df_3,df_4,df_5,df_6,df_7,df_8,df_9,df_10,df_11,df_12,df_13,df_14,df_15,df_16,df_17,df_18,df_19,df_20,df_21,df_22,df_23,df_24,df_25,df_26], axis=0)

In [11]:
len(df_films)

22531

In [12]:
df_films.keys()
for k,v in df_films.items():
    
    print(k,len(df_films[k]))

Puntuacion_IMDB 22531
Dirección 22531
Guionistas 22531
Argumento 22531
Duración 22531
Nombre de la película 22531

In [13]:
df_films.tail()

,Puntuacion_IMDB,Dirección,Guionistas,Argumento,Duración,Nombre de la película
596,7.6,['Srinivas Thimmaiah'],DESCONOCIDO,"Shankar, an auto driver, finds a dog in his ri...",2h 19m,Naanu Matthu Gunda
597,6.0,['Gokul Hariharan'],"['Santhosh Raja', 'Venkitesh Venki']","Stories of two strangers, Kuttiyappan and Giri...",--,Kuttiyappanum Daivadhootharum
598,--,['Emem Isong'],"['Anthony Kehinde Joseph', 'Rita Onwurah']",Rachel Hudson was living the life. With a lovi...,1h 25m,Special Jollof
599,--,DESCONOCIDO,DESCONOCIDO,NaN,1h 59m,Run 2
600,8.6,DESCONOCIDO,DESCONOCIDO,Synopsis of PACHAI VILAKKU (Green Signal) The ...,2h 38m,Pachai Vilakku

In [14]:
df_films

,Puntuacion_IMDB,Dirección,Guionistas,Argumento,Duración,Nombre de la película
0,6.4,['Vincent Regan'],"['Vincent Regan', 'William Shakespeare']",NaN,--,Instruments of Darkness
1,6.5,['Scott Frank'],"['Lawrence Block', 'Scott Frank']",Private investigator Matthew Scudder is hired ...,1h 54m,A Walk Among the Tombstones
2,3.4,['Prabhu Deva'],DESCONOCIDO,In order to escape crime and clutches of a rut...,2h 24m,Action Jackson
3,7.2,['Antoine Fuqua'],"['Richard Wenk', 'Michael Sloan', 'Richard Lin...",A man who believes he has put his mysterious p...,2h 12m,The Equalizer
4,6.5,DESCONOCIDO,DESCONOCIDO,Some of Sin City's most hard-boiled citizens c...,1h 42m,Sin City: A Dame to Kill For
...,...,...,...,...,...,...
596,7.6,['Srinivas Thimmaiah'],DESCONOCIDO,"Shankar, an auto driver, finds a dog in his ri...",2h 19m,Naanu Matthu Gunda
597,6.0,['Gokul Hariharan'],"['Santhosh Raja', 'Venkitesh Venki']","Stories of two strangers, Kuttiyappan and Giri...",--,Kuttiyappanum Daivadhootharum
598,--,['Emem Isong'],"['Anthony Kehinde Joseph', 'Rita Onwurah']",Rachel Hudson was living the life. With a lovi...,1h 25m,Special Jollof
599,--,DESCONOCIDO,DESCONOCIDO,NaN,1h 59m,Run 2
600,8.6,DESCONOCIDO,DESCONOCIDO,Synopsis of PACHAI VILAKKU (Green Signal) The ...,2h 38m,Pachai Vilakku

In [15]:
df_films.reset_index()

,index,Puntuacion_IMDB,Dirección,Guionistas,Argumento,Duración,Nombre de la película
0,0,6.4,['Vincent Regan'],"['Vincent Regan', 'William Shakespeare']",NaN,--,Instruments of Darkness
1,1,6.5,['Scott Frank'],"['Lawrence Block', 'Scott Frank']",Private investigator Matthew Scudder is hired ...,1h 54m,A Walk Among the Tombstones
2,2,3.4,['Prabhu Deva'],DESCONOCIDO,In order to escape crime and clutches of a rut...,2h 24m,Action Jackson
3,3,7.2,['Antoine Fuqua'],"['Richard Wenk', 'Michael Sloan', 'Richard Lin...",A man who believes he has put his mysterious p...,2h 12m,The Equalizer
4,4,6.5,DESCONOCIDO,DESCONOCIDO,Some of Sin City's most hard-boiled citizens c...,1h 42m,Sin City: A Dame to Kill For
...,...,...,...,...,...,...,...
22526,596,7.6,['Srinivas Thimmaiah'],DESCONOCIDO,"Shankar, an auto driver, finds a dog in his ri...",2h 19m,Naanu Matthu Gunda
22527,597,6.0,['Gokul Hariharan'],"['Santhosh Raja', 'Venkitesh Venki']","Stories of two strangers, Kuttiyappan and Giri...",--,Kuttiyappanum Daivadhootharum
22528,598,--,['Emem Isong'],"['Anthony Kehinde Joseph', 'Rita Onwurah']",Rachel Hudson was living the life. With a lovi...,1h 25m,Special Jollof
22529,599,--,DESCONOCIDO,DESCONOCIDO,NaN,1h 59m,Run 2
22530,600,8.6,DESCONOCIDO,DESCONOCIDO,Synopsis of PACHAI VILAKKU (Green Signal) The ...,2h 38m,Pachai Vilakku

In [16]:
df_films.to_csv("extraccion_total_pelis_2014_2020.csv")

In [22]:
df_pelis_2014_2020 = pd.DataFrame(df_films)

In [21]:
## Convertir en DF Pelis y Actores
df_pelis_2014_2020 = pd.DataFrame(df_films)


df_actores_2014_2020 = pd.Series(df_actores,name="url")
df_actores_2014_2020.index.name="nombre_actor"
df_actores_2014_2020.reset_index()

ValueError: The truth value of a DataFrame is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().